
.sidebar {
  width: 17%;
  height: 100%;
  background-color: #f5f8f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.cinia-logo {
  width: 80%;
  margin-bottom: 6em;
}

.sidebar-options {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 2em;
}

.sidebar-option {
  font-size: 1.25rem;
  text-align: center;
}

.sidebar-option:hover {
  cursor: pointer; 
  opacity: 75%; 
  font-size: 1.30rem;
}

#selected-page {
  font-weight: bold;
}

.profile-details {
  display: flex;
}

.credentials {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.username {
  font-weight: bolder;
}

.rank {
  color: rgb(245, 66, 38);
}

.switch-stage {
  text-align: center;
}

.hide-menu:hover, .switch-stage:hover {
  cursor: pointer; 
  opacity: 75%;
}

.logout {
  border-radius: 15px;
  font-size: 1rem;
  background-color: #ffe3e0;
  border-color: white;
  height: 2.7em;
  margin-top: 2em;
  margin-right: .75em;
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.logout:active,
.logout:hover,
.logout:focus {
  outline: 0;
}


.logout:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.logout:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.logout:active:hover,
.logout:focus:hover,
.logout:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.main-page {
  margin-left: 20%;
  padding-top: 3%;
}

.user-information {
  display: grid; 
  grid-template-columns: 60% 13% 13% 13%;
}

.user-instance {
  margin-top: 1.2em;
  display: grid; 
  grid-template-columns: 37% 12% 13% 13% 13% 12%;
}

.course-instance {
  margin-top: 1.2em;
  display: grid; 
  grid-template-columns: 50% 10% 10% 10% 10% 10%;
}

.contact-instance {
  margin-top: 1.2em;
  display: grid; 
  grid-template-columns: 60% 20% 10% 10%;
  align-items: center;
}

.contact-list {
  display: grid;
  grid-template-columns: 50% 50%;
}

.separate-contact {
  background-color:rgb(245, 205, 199); 
  border-radius: 15px;
  justify-self: center;
  padding-right: 6em;
  padding-left: 6em;
  padding-top: 1em; 
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-size: 1.5rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.separate-contact:hover {
  opacity: 75%;
  cursor: pointer;
}

.trash-button-user {
  width: 40%;
}

.trash-button-user:hover {
  opacity: 75%;
  cursor: pointer;
}

.instance-attribute-header {
  font-weight: bold; 
  font-size: 1.25rem;
  margin-bottom: 1em;
  color:rgb(245, 66, 38);
  opacity: 50%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.instance-attribute {
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200; 
}

.user-attribute-header:first-child {
  padding-left: 5em;
}

.user-attribute:first-child {
  padding-left: 6em;
}

.corner-popup-aid {
  position: fixed;
  top: 83%;
  left:74%;
  background-color: #f5f8f5;
  border-radius: 20px; 
  padding-left: 1em;
  padding-right: 1em;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: red;
  opacity: 80%;
  z-index: 9;
  box-shadow: 0 2px 3px -2px #000000;
}

#gerencias-contacts {
  top: 83%;
  left: 74%;
}

.corner-popup-gerencias {
  display: flex;
  left: 70%;
  top: 83%;
}

.corner-popup-gerencias div {
  padding: 1em;
}

.display-false {
  display: none;
}

.corner-popup:hover, .remove-user:hover {
  opacity: 75%; 
  cursor: pointer;
}

.pop-up-form {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 30%;
  height: auto;
  background-color: #ebe9e8;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9;
  border-radius: 10px;
  
}

.course-adjustment {
  display: flex; 
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
}

.course-change {
  border-radius: 5px;
  background-color:rgb(236, 88, 65);
  color: white;
}

.submit-form {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  margin-left: 15em;
  margin-top: .5em;
  margin-bottom: 1em;
  outline: 0;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.submit-form:hover,
.submit-form:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.submit-form:active {
  opacity: .5;
}

#verify-yes, #verify-no {
  border-radius: 10px;
  background-color:#f79090;
  margin-top: .5em;
  margin-bottom: 1em;
  width: auto;
}

.submit-form:hover {
  cursor: pointer;
  opacity: 75%;
}

.form-label {
  font-weight: bold;
}

.welcome {
  color: red; 
  font-size: 1.5rem;
  margin-bottom: 1em;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px; 
  background-color:rgb(250, 230, 227);
  padding: 1em 0.5em;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  text-align: center;
}

#mensajes-importantes {
  padding-top: 0;
  padding-bottom: 0.3em;
}

.trash-button-message {
  width: 10%;
  margin-left: 2em;
}

.edit-button-message-1 {
  margin-left: 0.3em; 
  width: 70%;
}

.edit-button-message-2 {
  margin-left: 0.3em; 
  width: 20%;
}

#message-trash-button {
  margin-left: 0;
}

.welcome-contacts {
  color: red; 
  font-size: 1.5rem;
  margin-left: auto; 
  margin-right: auto;
  margin-bottom: 1em;
  width: 50%;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border-radius: 20px; 
  background-color:rgb(250, 230, 227);
  padding: 1em;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
  text-align: justify;
}

.title-close-form {
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}

.form-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}

.close-pop-up-form {
  width: 50%;
  align-self: flex-start;
  justify-self: end;
  margin-top: .5em;
  margin-right: .5em;
}

.close-pop-up-form:hover {
  opacity: 75%;
  cursor: pointer;
}

.message-no-data {
  display: flex;
  justify-content: center;
  font-size: 1.75rem;    
  opacity: 20%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 15%;
}

.verify-button {
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: #d6d6d2;
  z-index: 9;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.25rem;
}

.verifying-buttons {
  display: flex;
  justify-content: space-around;
}

.operator-courses {
  display: grid; 
  grid-template-columns: 50% 50%;
}

.operator-course-instance {
  padding-left: 30%;
  margin-top: 2em;
  background-color:rgb(245, 205, 199);
  border-radius: 20px;
  margin-left: 2em;
  cursor: pointer;
} 

.operator-course-instance:hover {
  opacity: 50%;
}

.operator-course-instance p {
  font-size: 1.30rem;
}

#completed-course {
  background-color: #d9ffd6;
}

.course-header {
  font-size: 1.9rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(245, 66, 38);
  margin-left: 40%;
  margin-bottom: 0;
  margin-top: 2rem;
}

.course-resources {
  display: grid; 
  grid-template-columns: 50% 50%; 
}

.course-resource {
  font-size: 1.35rem;
  justify-self: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.course-evaluation {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 5%;
}

.submit-course-evaluation {
  all: unset;
}

#name-attribute:hover {
  opacity: 75%;
  cursor: pointer;
}

.performance-summary {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.course-summary {
  background-color:rgb(235, 228, 227);
  border-radius: 20px;
  padding-left: 12%;
  padding-right: 12%;
  margin-right: 2em;
  padding-top: 1em;
}

.course-summary-name {
  font-size: 1.4rem;
}

.pie-chart {
  width: 65%;
  margin-left: auto; 
  margin-right: auto;
}

.change-phone-form {
  margin-left: 25%;
  display: flex;
  margin-bottom: 3em;
}

#change-phone-submit {
  margin: 0;
}

.change-phone-form input {
  margin-left: 2em;
  margin-right: 1em;
}

.course-description {
  font-size: 1.25rem; 
  text-align: justify;
  margin-left: 30%;
  width: 35%; 
  padding-bottom: 1em; 
  border-bottom: solid 1px rgb(231, 230, 230);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.search-box {
  display: grid; 
  grid-template-columns: 80% 20%;
  
}

.search-box input {
  font-size: 1.3rem; 
  padding-left: 2em; 
}

.search-button {
  width: 30%;
  margin-left: 3em;
}

.login-box {
  margin-top: 10%;
  margin-left: 30%;
  margin-right: 30%;
}

.login-form {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

#login-button {
  width: 5em;
  margin-left: 70%;
}

.login-logo {
  width: 50%;
  margin-left: 20%;
}

.separate-contact:hover {
  opacity: 75%;
  cursor: pointer;
}

.download-button {
  margin-bottom: 1em;
  margin-left: 3em;
  border-radius: 15px;
  font-size: 1rem;
  background-color: #ffe3e0;
  border-color: white;
  height: 2.7em;
  margin-top: 2em;
  margin-right: .75em;
  align-items: center;
  background-color: #FFE7E7;
  background-position: 0 0;
  border: 1px solid #FEE0E0;
  border-radius: 11px;
  box-sizing: border-box;
  color: #D33A2C;
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  font-weight: 700;
  line-height: 33.4929px;
  padding: 2px 12px;
  text-align: left;
  text-decoration: none;
  text-shadow: none;
  text-underline-offset: 1px;
  transition: border .2s ease-in-out,box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  word-break: break-word;
}

.add-button-message {
  margin-left: 85%;
  width: 10%;
}

.download-button:active,
.download-button:hover,
.download-button:focus {
  outline: 0;
}


.download-button:active {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

.download-button:hover {
  background-color: #FFE3E3;
  border-color: #FAA4A4;
}

.download-button:active:hover,
.download-button:focus:hover,
.download-button:focus {
  background-color: #D33A2C;
  box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
  color: #FFFFFF;
}

@media screen and (max-width: 950px) {

  .user-instance {
    grid-template-columns: 16% 16% 16% 20% 20% 12%;
  }

  .course-instance {
    grid-template-columns: 16% 16% 16% 20% 20% 12%;
  }

  .contact-instance {
    grid-template-columns: 40% 20% 20% 20%;
  }

  .login-box {
    margin-top: 10rem;
  }

  .pop-up-form {
    width: 50%;
    left: 25%;
  }

  .operator-course-instance {
    padding-left: 20%;
  }

  .credentials {
    font-size: 0.9rem;
  }

  .profile-details {
    flex-direction: column;
    margin-left: 0.7em;
  }

  .separate-contact {
    font-size: 1rem;
    padding-right: 2em;
    padding-left: 2em;
    padding-top: 1em; 
    padding-bottom: 1em;
  }

  .course-description {
    width: 70%;
    margin-left: 15%;
  }

  .change-phone-form {
    margin-left: 15%;
    margin-top: 1em;
  }

  .performance-summary {
    grid-template-columns: 50% 50%;
  }

  .logout {
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 2px;
  }

  #access-retrieval-contacts {
    margin-left: 2em;
  }

}

@media screen and (max-width: 675px) {

  .profile-details {
    flex-direction: row;
    margin-left: 0;
  }

  .sidebar {
    width: 100%;
    height: auto;
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    position: relative;
  }

  .pop-up-form {
    width: 70%;
    left: 15%;
  }

  .sidebar-options {
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
  
  }

  .sidebar-option {
    font-size: .5rem;
    margin-right: 1em;
  }
  
  .cinia-logo {
    width: 30%;
    margin-bottom: 0;
  }

  .main-page {
    margin-left: 0;
  }

  #course-explore-page {
    margin-top: 0; 
    padding-top: 0;
  }  

  .credentials p {
    margin-top: 20%;
    font-size: .4rem;
    display: flex; 
    flex-direction: column; 
    align-items: center;
  }

  .logout {
    margin-left: 1em; 
    font-size: .5rem;
  }

  .instance-attribute, .instance-attribute-header {
    font-size: 0.75rem;
  }

  .search-box input {
    font-size: 1rem;
  }

  .corner-popup-aid {
    left: 70%;
  }

  .operator-course-instance {
    padding-left: 12%;
  }

  #course-feed-instance {
    font-size: 0.8rem;
  }

  #gerencias-contacts {
    left:50%;
  }

  .corner-popup-aid {
    left: 50%;
  }
  .verify-button {
    left: 10%;
  }

  .separate-contact {
    padding-right: 1em;
    padding-left: 1em;
  }

  .course-description {
    width: 90%;
    margin-left: 3%;
    font-size: 1rem;
  }

  #login-button {
    margin-left: 40%;
    width: auto;
  }

  #login-button div {
    margin-left: auto; 
    margin-right: auto; 
  }

  .change-phone-form {
    margin-left: 0%;
  }

  .course-header {
    margin-top: 0.3em;
    margin-left: 33%;
  }

  .change-phone-form input {
    margin-left: 1em;
  }

  .change-phone-form {
    justify-content: center;
  }

  .stage2-info {
    padding-top: 3%;
  }

  .add-whatever-form {
    padding-left: auto;
    padding-right: auto;
  }

  .submit-form {
    margin-left: 8em;
  }

  .welcome, .welcome-contacts {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    margin-top: 0;
  }

  .login-logo {
    width: 100%;
    margin-left: 0;
  }

  .login-form .submit-form {
    min-height: 18px;
    font-size:14px;
  }

  .sidebar-option:hover {
    cursor: pointer; 
    opacity: 75%; 
  }

  .logout {
    font-size: 0.4rem; 
    padding: 1px 2px;
  }

  .download-button {
    margin-top: 0;
  }

  .welcome {
    margin-bottom: 0.7em;
  }

  #change-form-submit {
    font-size: 0px; 
    padding: 3px;
  }

  .course-evaluation {
    padding-left: 1%;
  }

  #change-phone-submit {
    font-size: 0.75rem; 
    padding: 0;
  }

  .change-phone-form input {
    width: 40%;
  }

  .change-phone-label {
    width: 20%;
  }

  .edit-button-message-1 {
    width: 100%;
  }

  #contact-trash-button {
    width: 50%;
  }

}

.invalid-login-credentials {
  color: red; 
  font-size: 1.5rem;
  padding-left: 20%;
}

.contacts-popup-pointer {
  cursor: pointer;
}

#welcome-message {
  display: flex; 
  align-items: center;
}

.add-message-body {
  margin-top: 1em;
}

.change-message-input {
  width: 100%;
}