.sidebar {
  width: 17%;
  height: 100%;
  background-color: #f5f8f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.cinia-logo {
  width: 80%;
  margin-bottom: 6em;
}

.sidebar-options {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 2em;
}

.sidebar-option {
  font-size: 1.25rem;
}

.sidebar-option:hover {
  cursor: pointer; 
  opacity: 75%; 
  font-size: 1.30rem;
}

#selected-page {
  font-weight: bold;
}

.profile-details {
  display: flex;
}

.credentials {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.username {
  font-weight: bolder;
}

.rank {
  color: rgb(245, 66, 38);
}

.hide-menu:hover, .switch-stage:hover {
  cursor: pointer; 
  opacity: 75%;
}

.logout {
  border-radius: 15px;
  font-size: 1rem;
  background-color: #ffe3e0;
  border-color: white;
  height: 2.7em;
  margin-top: 2em;
  margin-right: .75em;
}

.logout:hover {
  cursor: pointer;
  opacity: 75%;
  border-color: #ffe3e0;
  font-size: 1.1rem;
}

.main-page {
  margin-left: 20%;
  padding-top: 3%;
}

.user-information {
  display: grid; 
  grid-template-columns: 60% 13% 13% 13%;
}

.user-instance {
  margin-top: 1.2em;
  display: grid; 
  grid-template-columns: 45% 12% 13% 10% 10% 10%;
}

.course-instance {
  margin-top: 1.2em;
  display: grid; 
  grid-template-columns: 50% 13% 13% 13% 10%;
}

.trash-button-user {
  width: 40%;
}

.trash-button-user:hover {
  opacity: 75%;
  cursor: pointer;
}

.instance-attribute-header {
  font-weight: bold; 
  font-size: 1.25rem;
  margin-bottom: 1em;
  color:rgb(245, 66, 38);
  opacity: 50%;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.instance-attribute {
  font-size: 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 200; 
}

.user-attribute-header:first-child {
  padding-left: 5em;
}

.user-attribute:first-child {
  padding-left: 6em;
}

.corner-popup-aid {
  position: fixed;
  top: 83%;
  left:85%;
  background-color: #f5f8f5;
  border-radius: 20px; 
  padding-left: 1em;
  padding-right: 1em;
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color:rgb(236, 88, 65);
  opacity: 80%;
  z-index: 9;
  box-shadow: 0 2px 3px -2px #000000;
}

.display-false {
  display: none;
}

.corner-popup:hover, .remove-user:hover {
  opacity: 75%; 
  cursor: pointer;
}

.pop-up-form {
  position: absolute;
  top: 15%;
  left: 35%;
  width: 30%;
  height: auto;
  background-color: #ebe9e8;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9;
  border-radius: 10px;
  
}

.course-adjustment {
  display: flex; 
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 3em;
}

.course-change {
  border-radius: 5px;
  background-color:rgb(236, 88, 65);
  color: white;
}

.submit-form {
  border-radius: 10px;
  background-color:#f79090;
  margin-left: 15em;
  margin-top: .5em;
  margin-bottom: 1em;
  width: auto;
}

#verify-yes, #verify-no {
  border-radius: 10px;
  background-color:#f79090;
  margin-top: .5em;
  margin-bottom: 1em;
  width: auto;
}

.submit-form:hover {
  cursor: pointer;
  opacity: 75%;
}

.form-label {
  font-weight: bold;
}

.title-close-form {
  width: 100%;
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
}

.form-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2rem;
}

.close-pop-up-form {
  width: 50%;
  align-self: flex-start;
  justify-self: end;
  margin-top: .5em;
  margin-right: .5em;
}

.close-pop-up-form:hover {
  opacity: 75%;
  cursor: pointer;
}

.message-no-data {
  display: flex;
  justify-content: center;
  font-size: 1.75rem;    
  opacity: 20%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 15%;
}

.verify-button {
  position: fixed;
  top: 40%;
  left: 40%;
  background-color: #d6d6d2;
  z-index: 9;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 1.25rem;
}

.verifying-buttons {
  display: flex;
  justify-content: space-around;
}

.operator-courses {
  display: grid; 
  grid-template-columns: 50% 50%;
}

.operator-course-instance {
  padding-left: 40%;
  margin-top: 2em;
  background-color:rgb(245, 205, 199);
  border-radius: 20px;
  margin-left: 2em;
  cursor: pointer;
} 

.operator-course-instance:hover {
  opacity: 50%;
}

.operator-course-instance p {
  font-size: 1.30rem;
}

#completed-course {
  background-color: #d9ffd6;
}

.course-header {
  font-size: 1.9rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(245, 66, 38);
  margin-left: 40%;
}

.course-resources {
  display: grid; 
  grid-template-columns: 50% 50%; 
}

.course-resource {
  font-size: 1.35rem;
  justify-self: center;
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.course-evaluation {
  font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-left: 27%;
}

.submit-course-evaluation {
  all: unset;
}

#name-attribute:hover {
  opacity: 75%;
  cursor: pointer;
}

.performance-summary {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.course-summary {
  background-color:rgb(235, 228, 227);
  border-radius: 20px;
  padding-left: 25%;
  margin-right: 2em;
}

.course-summary-name {
  font-size: 1.4rem;
}

.pie-chart {
  width: 65%;
  margin-left: auto; 
  margin-right: auto;
}

.change-phone-form {
  margin-left: 25%;
  display: flex;
  margin-bottom: 3em;
}

#change-phone-submit {
  margin: 0;
}

.change-phone-form input {
  margin-left: 2em;
  margin-right: 1em;
}